<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page de profil d'un autre utilisateur</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="hero">
      <header>
        <a href="/templates/1landingPage.html" class="logo-link">
          <div class="logo">8Forum</div>
        </a>
        <nav>
          <ul>
            <li><a href="/publications">Publications</a></li>
            <li><a href="/categories">Catégories</a></li>
            <li><a href="/about">A Propos</a></li>
            {{if not .IsLogged}}
              <li><a href="/login">Login</a></li>
            {{else}}
            <li><a href="/create-category">Nouvelle catégorie</a></li>
            <li><a href="/create-post">Nouveau post</a></li>
            <li><a href="/profil-self">Profile</a></li>
            {{end}}
          </ul>
  
          <img
            src="/pics/fuckThe7Teen.jpg"
            alt="userPic"
            class="user-icon"
            onclick="toggleMenu()"
          />

          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="/pics/fuckThe7Teen.jpg" alt="userPic" />
                <h3>Toro</h3>
              </div>

              <hr />
              <a href="#" class="sub-menu-link">
                <img src="/pics/images/setting.png" alt="" />
                <p>Setting&Privacy</p>
                <span>></span>
              </a>

              <a href="#" class="sub-menu-link">
                <img src="/pics/images/profile.png" alt="" />
                <p>Edit Profile</p>
                <span>></span>
              </a>

              <a href="#" class="sub-menu-link">
                <img src="/pics/images/help.png" alt="" />
                <p>Help&Support</p>
                <span>></span>
              </a>

              <a href="#" class="sub-menu-link">
                <img src="/pics/images/logout.png" />
                <p>Loggout</p>
                <span>></span>
              </a>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <script>
      let subMenu = document.getElementById("subMenu");

      function toggleMenu() {
        subMenu.classList.toggle("open-menu");
      }
    </script>
  </body>
</html>
