<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma page d'accueil</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <a href="/" class="logo-link">
        <div class="logo">8Forum</div>
      </a>
      <nav>
        <ul>
          <li><a href="/publications">Publications</a></li>
          <li><a href="/categories">Catégories</a></li>
          <li><a href="/about">A Propos</a></li>
          {{if not .IsLogged}}
            <li><a href="/login">Login</a></li>
          {{else}}
          <li><a href="/create-category">Nouvelle catégorie</a></li>
          <li><a href="/create-post">Nouveau post</a></li>
          <li><a href="/profil-self">Profile</a></li>
          {{end}}
        </ul>
      </nav>
    </header>

    <section class="video-section">
      <video autoplay muted loop src="/pics/messi.mov"></video>
      <div class="content">
        <h1>Bienvenue sur mon forum</h1>
        <p>
          "Bienvenue sur mon forum dynamique consacré au football ! Ici, les
          idées prennent vie à travers des discussions passionnantes et des
          interactions enrichissantes. Rejoignez-nous pour connecter avec des
          passionnés, partager vos connaissances et explorer une vaste gamme de
          sujets liés au football. Découvrez une plateforme qui favorise la
          croissance intellectuelle, la collaboration et l'échange de
          perspectives diverses. Commencez votre aventure avec nous dès
          aujourd'hui !"
        </p>
      </div>
    </section>
  </body>
</html>
